Package: jerrybuild
Version: %%MASTER%%
Maintainer: Ferry Boender <ferry.boender@gmail.com>
Section: utils
Priority: optional
Architecture: all
Depends: python (>= 2.7),  adduser
Description: Lightweight build / CI server
 Jerrybuild is a lightweight project build and Continues Integration server
 written in Python. Basically, it's a web server that listens for webhook
 notifications and then runs scripts. It is light on memory usage, easy to
 configure and comes with web frontend to inspect job results.
