[server]

# Address to listen on
listen = 0.0.0.0

# Port to listen on
port = 5281

# Logging level. Possible values: DEBUG, INFO, WARN, ERROR,
# FATAL
log_level = INFO

# Directory to keep job status files and such in.
state_dir = /var/lib/jerrybuild/

# Always send mail to recipients on build failure (optional).
# Multiple addresses should be separated by a comma. You
# can add additional addresses in each job section.
mail_to = dev@example.com, testteam@example.com

# Default working directory for jobs (optional).
work_dir = /var/lib/jerrybuild/workspace

# You can define global environment variables that will be set for all scripts.
# For example, env_SSH_DEPLOY_KEY_DIR would result in an environment variable
# SSH_DEPLOY_KEY_DIR in your scripts.
env_SSH_DEPLOY_KEY_DIR = /var/lib/jerrybuild/deploy_keys/

#
# Example job specification: ansible-cmdb
#
#[job:ansible-cmdb]
#desc = Run ansible-cmdb test suite
#url = /hook/ansible-cmdb
#provider = github
#secret = SECRET_TOKEN_HERE
#cmd = /home/build/ansible-cmdb/run_tests.sh
#env_run_coverage = 0

