[server]

# Address to listen on
listen = 0.0.0.0

# Port to listen on
port = 5281

# Logging level. Possible values: DEBUG, INFO, WARN, ERROR,
# FATAL
log_level = INFO

# Directory to keep job status files and such in.
state_dir = /var/lib/jerrybuild/

# Always send mail to recipients on build failure (optional).
# Multiple addresses should be separated by a comma. You
# can add additional addresses in each job section.
mail_to = dev@example.com, testteam@example.com

# Default working directory for jobs (optional).
work_dir = /var/lib/jerrybuild/workspace

# You can define global environment variables that will be set for all scripts.
# For example, env_SSH_DEPLOY_KEY_DIR would result in an environment variable
# SSH_DEPLOY_KEY_DIR in your scripts.
env_SSH_DEPLOY_KEY_DIR = /var/lib/jerrybuild/deploy_keys/

# The number of job results s or a timespan after which to delete old job
# results. This value applies to each job seperately. The last job status will
# never be deleted. This value can be overridden on a job-by-job basis in the
# job's configuration section.
#
# Examples:
#   keep_jobs = 0   # Keep an infinite number of jobs
#   keep_jobs = 10  # Keep the last 10 job results
#   keep_jobs = 4d  # Remove job results older than 4 days
keep_jobs = 40

#
# Include jobs from a directory
#
%include /etc/jerrybuild/jobs.d/*.cfg


#
# Example job specification: ansible-cmdb
#
[job:ansible-cmdb]
desc = Run ansible-cmdb test suite

# URL to listen for webhook calls. This will listen on
# http://127.0.0.1/hook/ansible-cmdb
url = /hook/ansible-cmdb

# The provider setting determines the kind of webhook. Currently supported are:
# generic, github and gogs. Depending on the provider, different environment
# settings will be passed to the `cmd` script.
provider = github

# The script to execute when the webhook is called
cmd = /home/build/ansible-cmdb/run_tests.sh

# A setting specific to the Github and Gogs providers.
secret = SECRET_TOKEN_HERE

# Define a custom environment variable to be passed to the script for this job.
# The script will get a `run_coverage=0` environment setting.
env_run_coverage = 0

