[Unit]
Description=Jerrybuild
After=network.target

[Service]
User=jerrybuild
Group=jerrybuild
Environment=CONFIG=/etc/jerrybuild/jerrybuild.cfg
ExecStart=/usr/local/bin/jerrybuild ${CONFIG}
ExecReload=/bin/kill -HUP $MAINPID
Type=exec

[Install]
WantedBy=default.target
