[job:example]
desc = An example project

# URL to listen for webhook calls. This will listen on
# http://127.0.0.1:5281/hook/my-project
url = /hook/example

# The provider setting determines the kind of webhook. Currently supported are:
# generic, github and gogs. Depending on the provider, different environment
# settings will be passed to the `cmd` script.
provider = generic

# Working directory for this job (optional). If not given, the main
# configuration's work_dir will be used. If that is also not configured..
# FIXME.
# work_dir = /var/lib/jerrybuild/workspace

# The command to execute when the webhook is called. The working dir is set to
# the job (or main configuration's) `work_dir`. The command is executed in a
# shell, so you can include parameters, piping, redirection, etc.
cmd = sh example.sh

# A setting specific to the Github and Gogs providers. The secret is a randomly
# generated key that must be added here and in Git / Gogs when defining the
# job.
#secret = 

# Define a custom environment variable to be passed to the script for this job.
# The script will get a `run_coverage=0` environment setting.
#env_run_coverage = 0
